html {
    font-family: Helvetica;
    /* background-color: rgba(90, 150, 255, 1); */
}

body {
    background-image: url('../img/mapa.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.container {
    max-width: 1100px;
    background-color: rgba(50, 50, 50, 0.8);
    position: relative;
    margin: 50px auto;
    border: 4px solid aqua;
    padding: 20px 50px;
}

.bold {
    font-weight: bold;
}

/* header */
.header {
    text-align: center;
}

.main-title {
    font-size: 40px;
    font-family: bolder;
    color:goldenrod;
}

.main-paragraph {
    font-style: italic;
    color: yellow;
}

/* Imagem destaque */
.featured-image {
    text-align: center;
    margin-top: 30px;
    color: aquamarine;
}

.featured-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.history-container {
    font-family:sans-serif;
    color: aliceblue;;
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed red;
    border-bottom: 1px dashed red;
}

.history-container h2, li {
    color:darkorange;
}

/* Citações */
.quotes-container {
    background-color: rgba(90, 150, 255, 0.3);
    color: gold;
    padding: 30px;
}

.quotes-container blockquote {
    font-weight: bold;
    font-size: 30px;
}

.quotes-container p {
    font-style: italic;
}

/* Curiosidades */
.curiosities-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed red;
    border-bottom: 1px dashed red;
}

.curiosities-container h2 {
    color:darkorange;
}
.curiosities-container li {
    height: 30px;
    color: aliceblue;;
}

/* Segunda imagem */
.img-bold {
    text-align: center;
    margin-top: 30px;
    color: aquamarine;
}

.img-bold img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.moreinfo-container {
    color: aliceblue;;
}

.moreinfo-container a {
    color: yellow;
    text-decoration: none;
}