/* 4 - External CSS */
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

p {
    color: aqua;
}

/* Algum comentário */
/* Mais um comentário */
/* Terceiro comentário */

/* Classes */
.paragraph {
    background-color: black;
    color: aqua;
    padding: 5px;
}

/* Id */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

/* Ordem das regras */
h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 4px solid green;
}

/* Nome de cores */
.color-name {
    color: maroon;
}

/* Hex */
.hex{
    color: #55a398;
}

.hex-2 {
    color: #4d335a;
}

/* Aprofundando em hex */
.simple-hex {
    color: #333;
}

.simple-hex-2 {
    color: #a5f;
}

/* Rgb */
.rgb {
    color: rgb(255, 0, 0);
}

.mixed-rgb {
    color: rgb(21, 47, 63);
}